In [37]:
import pandas as pd
import numpy as np
import datetime

In [39]:
# import csv
raw_data1 = "Resources/Raw Data/dogecoin.csv"
raw_data1_df = pd.read_csv(raw_data1)

# drop rows with missing values
raw_data1_df.dropna(how='any')

# Convert data types
raw_data1_df["Date"] = pd.to_datetime(raw_data1_df["Date"])
raw_data1_df["Open"] = raw_data1_df["Open"].astype(float)
raw_data1_df["High"] = raw_data1_df["High"].astype(float)
raw_data1_df["Low"] = raw_data1_df["Low"].astype(float)
raw_data1_df["Close"] = raw_data1_df["Close"].astype(float)
raw_data1_df["Volume"] = raw_data1_df["Volume"].astype(int)
raw_data1_df["Market Cap"] = raw_data1_df["Market Cap"].astype(int)

# format numbers
raw_data1_df["Open"] = raw_data1_df["Open"].map("{:,.6f}".format)
raw_data1_df["High"] = raw_data1_df["High"].map("{:,.6f}".format)
raw_data1_df["Low"] = raw_data1_df["Low"].map("{:,.6f}".format)
raw_data1_df["Close"] = raw_data1_df["Close"].map("{:,.6f}".format)
raw_data1_df

,Date,Open,High,Low,Close,Volume,Market Cap
0,2021-05-16,0.507910,0.548145,0.451023,0.514895,9541552063,66742824281
1,2021-05-15,0.559668,0.562676,0.491299,0.507972,9836892944,65838461456
2,2021-05-14,0.487070,0.589690,0.464622,0.559604,20466177001,72522897885
3,2021-05-13,0.392176,0.519461,0.357175,0.490374,18663174069,63544125613
4,2021-12-05,0.493742,0.519975,0.385376,0.385376,8621337859,49932901318
...,...,...,...,...,...,...,...
2705,2013-12-19,0.000395,0.001520,0.000328,0.001162,0,11150339
2706,2013-12-18,0.000267,0.000362,0.000205,0.000362,0,3188943
2707,2013-12-17,0.000207,0.000289,0.000116,0.000269,0,2169687
2708,2013-12-16,0.000299,0.000866,0.000150,0.000205,0,1509085
2709,2013-12-15,0.000559,0.000904,0.000290,0.000298,0,1960300

In [36]:
# import csv
raw_data2 = "Resources/Raw Data/dogeusd.csv"
raw_data2_df = pd.read_csv(raw_data2)

# drop rows with missing values
raw_data2_df.dropna(how='any')
raw_data2_df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [40]:
# Convert data types
raw_data2_df["Date"] = pd.to_datetime(raw_data2_df["Date"])
raw_data2_df["Open"] = raw_data2_df["Open"].astype(float)
raw_data2_df["High"] = raw_data2_df["High"].astype(float)
raw_data2_df["Low"] = raw_data2_df["Low"].astype(float)
raw_data2_df["Close"] = raw_data2_df["Close"].astype(float)
raw_data2_df["Adj Close"] = raw_data2_df["Adj Close"].astype(float)
#raw_data2_df["Volume"] = raw_data2_df["Volume"].astype(object)

In [41]:
# format numbers
raw_data2_df["Open"] = raw_data2_df["Open"].map("{:,.6f}".format)
raw_data2_df["High"] = raw_data2_df["High"].map("{:,.6f}".format)
raw_data2_df["Low"] = raw_data2_df["Low"].map("{:,.6f}".format)
raw_data2_df["Close"] = raw_data2_df["Close"].map("{:,.6f}".format)
raw_data2_df["Adj Close"] = raw_data2_df["Adj Close"].map("{:,.6f}".format)
raw_data2_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,0.000293,0.000299,0.000260,0.000268,0.000268,1.463600e+06
1,2014-09-18,0.000268,0.000325,0.000267,0.000298,0.000298,2.215910e+06
2,2014-09-19,0.000298,0.000307,0.000275,0.000277,0.000277,8.835630e+05
3,2014-09-20,0.000276,0.000310,0.000267,0.000292,0.000292,9.930040e+05
4,2014-09-21,0.000293,0.000299,0.000284,0.000288,0.000288,5.391400e+05
...,...,...,...,...,...,...,...
2430,2021-05-13,0.392176,0.519461,0.357175,0.490374,0.490374,1.866317e+10
2431,2021-05-14,0.487070,0.589690,0.464622,0.559604,0.559604,2.046618e+10
2432,2021-05-15,0.559668,0.562676,0.491299,0.507972,0.507972,9.836893e+09
2433,2021-05-16,0.507910,0.548145,0.451023,0.514895,0.514895,9.541552e+09
2434,2021-05-17,0.514954,0.515221,0.463021,0.469993,0.469993,9.624701e+09