In [4]:
import pandas as pd
import numpy as np
import datetime

In [5]:
# import csv
raw_data1 = "Resources/Raw Data/dogecoin.csv"
raw_data1_df = pd.read_csv(raw_data1)

# drop rows with missing values
raw_data1_df.dropna(how='any')

# Convert data types
raw_data1_df["Date"] = pd.to_datetime(raw_data1_df["Date"])
raw_data1_df["Date"] = raw_data1_df["Date"].dt.strftime('%Y-%m-%d')
raw_data1_df["Open"] = raw_data1_df["Open"].astype(float)
raw_data1_df["High"] = raw_data1_df["High"].astype(float)
raw_data1_df["Low"] = raw_data1_df["Low"].astype(float)
raw_data1_df["Close"] = raw_data1_df["Close"].astype(float)
raw_data1_df["Volume"] = raw_data1_df["Volume"].astype(int)
raw_data1_df["Market Cap"] = raw_data1_df["Market Cap"].astype(int)

# format numbers
raw_data1_df["Open"] = raw_data1_df["Open"].map("{:,.6f}".format)
raw_data1_df["High"] = raw_data1_df["High"].map("{:,.6f}".format)
raw_data1_df["Low"] = raw_data1_df["Low"].map("{:,.6f}".format)
raw_data1_df["Close"] = raw_data1_df["Close"].map("{:,.6f}".format)

# sort by date
raw_data1_df.sort_values(by=["Date"], inplace=True, ascending=False)

raw_data1_df
#export cleaned dataframe
#raw_data1_df.to_csv("Resources/Cleaned Data/cleaneddogecoin.csv", index = False)

,Date,Open,High,Low,Close,Volume,Market Cap
6,2021-12-05,0.493742,0.519975,0.385376,0.385376,8621337859,49932901318
36,2021-12-04,0.074544,0.074986,0.068889,0.070767,2687720380,9139899745
67,2021-12-03,0.055921,0.056980,0.054513,0.055349,1287767220,7125032152
95,2021-12-02,0.069650,0.072610,0.061445,0.070069,4190843783,8992978136
126,2021-12-01,0.008830,0.009145,0.007904,0.008063,333308456,1031361130
...,...,...,...,...,...,...,...
2707,2013-12-19,0.000395,0.001520,0.000328,0.001162,0,11150339
2708,2013-12-18,0.000267,0.000362,0.000205,0.000362,0,3188943
2709,2013-12-17,0.000207,0.000289,0.000116,0.000269,0,2169687
2710,2013-12-16,0.000299,0.000866,0.000150,0.000205,0,1509085
2711,2013-12-15,0.000559,0.000904,0.000290,0.000298,0,1960300

In [6]:
# import csv
raw_data2 = "Resources/Raw Data/dogeusd.csv"
raw_data2_df = pd.read_csv(raw_data2)

# drop rows with missing values
raw_data2_df.dropna(how='any')
raw_data2_df[raw_data2_df["Volume"].isnull()]
raw_data2_df = raw_data2_df.dropna(subset=["Volume"])

# Convert data types
raw_data2_df["Date"] = pd.to_datetime(raw_data2_df["Date"])
raw_data2_df["Open"] = raw_data2_df["Open"].astype(float)
raw_data2_df["High"] = raw_data2_df["High"].astype(float)
raw_data2_df["Low"] = raw_data2_df["Low"].astype(float)
raw_data2_df["Close"] = raw_data2_df["Close"].astype(float)
raw_data2_df["Adj Close"] = raw_data2_df["Adj Close"].astype(float)
raw_data2_df["Volume"] = raw_data2_df["Volume"].apply(np.int64)

# format numbers
raw_data2_df["Open"] = raw_data2_df["Open"].map("{:,.6f}".format)
raw_data2_df["High"] = raw_data2_df["High"].map("{:,.6f}".format)
raw_data2_df["Low"] = raw_data2_df["Low"].map("{:,.6f}".format)
raw_data2_df["Close"] = raw_data2_df["Close"].map("{:,.6f}".format)
raw_data2_df["Adj Close"] = raw_data2_df["Adj Close"].map("{:,.6f}".format)

# sort by date
raw_data2_df.sort_values(by=["Date"], inplace=True, ascending=False)

#export cleaned dataframe
raw_data2_df.to_csv("Resources/Cleaned Data/cleaneddogeusd.csv", index = False)