In [1]:
import pandas as pd

In [3]:
# import csv
raw_data1 = "Resources/Raw Data/dogecoin.csv"
raw_data1_df = pd.read_csv(raw_data1)
raw_data1_df

,Date,Open,High,Low,Close,Volume,Market Cap
0,16-05-2021,0.507910,0.548145,0.451023,0.514895,9.541552e+09,6.674282e+10
1,15-05-2021,0.559668,0.562676,0.491299,0.507972,9.836893e+09,6.583846e+10
2,14-05-2021,0.487070,0.589690,0.464622,0.559604,2.046618e+10,7.252290e+10
3,13-05-2021,0.392176,0.519461,0.357175,0.490374,1.866317e+10,6.354413e+10
4,12-05-2021,0.493742,0.519975,0.385376,0.385376,8.621338e+09,4.993290e+10
...,...,...,...,...,...,...,...
2705,19-12-2013,0.000395,0.001520,0.000328,0.001162,0.000000e+00,1.115034e+07
2706,18-12-2013,0.000267,0.000362,0.000205,0.000362,0.000000e+00,3.188943e+06
2707,17-12-2013,0.000207,0.000289,0.000116,0.000269,0.000000e+00,2.169688e+06
2708,16-12-2013,0.000299,0.000866,0.000150,0.000205,0.000000e+00,1.509085e+06
2709,15-12-2013,0.000559,0.000904,0.000290,0.000298,0.000000e+00,1.960300e+06

In [5]:
# drop rows with missing values
raw_data1_df.dropna(how='any')

,Date,Open,High,Low,Close,Volume,Market Cap
0,16-05-2021,0.507910,0.548145,0.451023,0.514895,9.541552e+09,6.674282e+10
1,15-05-2021,0.559668,0.562676,0.491299,0.507972,9.836893e+09,6.583846e+10
2,14-05-2021,0.487070,0.589690,0.464622,0.559604,2.046618e+10,7.252290e+10
3,13-05-2021,0.392176,0.519461,0.357175,0.490374,1.866317e+10,6.354413e+10
4,12-05-2021,0.493742,0.519975,0.385376,0.385376,8.621338e+09,4.993290e+10
...,...,...,...,...,...,...,...
2705,19-12-2013,0.000395,0.001520,0.000328,0.001162,0.000000e+00,1.115034e+07
2706,18-12-2013,0.000267,0.000362,0.000205,0.000362,0.000000e+00,3.188943e+06
2707,17-12-2013,0.000207,0.000289,0.000116,0.000269,0.000000e+00,2.169688e+06
2708,16-12-2013,0.000299,0.000866,0.000150,0.000205,0.000000e+00,1.509085e+06
2709,15-12-2013,0.000559,0.000904,0.000290,0.000298,0.000000e+00,1.960300e+06

In [ ]:
# format numbers
raw_data1_df["Open"] = raw_data1_df["Open"].map("{:,.6f}".format)
country_summary_df["Suicide Rate Mean"] = country_summary_df["Suicide Rate Mean"].map("{:,.2f}".format)

In [4]:
# import csv
raw_data2 = "Resources/Raw Data/dogeusd.csv"
raw_data2_df = pd.read_csv(raw_data2)
raw_data2_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,0.000293,0.000299,0.000260,0.000268,0.000268,1.463600e+06
1,2014-09-18,0.000268,0.000325,0.000267,0.000298,0.000298,2.215910e+06
2,2014-09-19,0.000298,0.000307,0.000275,0.000277,0.000277,8.835630e+05
3,2014-09-20,0.000276,0.000310,0.000267,0.000292,0.000292,9.930040e+05
4,2014-09-21,0.000293,0.000299,0.000284,0.000288,0.000288,5.391400e+05
...,...,...,...,...,...,...,...
2430,2021-05-13,0.392176,0.519461,0.357175,0.490374,0.490374,1.866317e+10
2431,2021-05-14,0.487070,0.589690,0.464622,0.559604,0.559604,2.046618e+10
2432,2021-05-15,0.559668,0.562676,0.491299,0.507972,0.507972,9.836893e+09
2433,2021-05-16,0.507910,0.548145,0.451023,0.514895,0.514895,9.541552e+09
2434,2021-05-17,0.514954,0.515221,0.463021,0.469993,0.469993,9.624701e+09

In [6]:
# drop rows with missing values
raw_data2_df.dropna(how='any')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,0.000293,0.000299,0.000260,0.000268,0.000268,1.463600e+06
1,2014-09-18,0.000268,0.000325,0.000267,0.000298,0.000298,2.215910e+06
2,2014-09-19,0.000298,0.000307,0.000275,0.000277,0.000277,8.835630e+05
3,2014-09-20,0.000276,0.000310,0.000267,0.000292,0.000292,9.930040e+05
4,2014-09-21,0.000293,0.000299,0.000284,0.000288,0.000288,5.391400e+05
...,...,...,...,...,...,...,...
2430,2021-05-13,0.392176,0.519461,0.357175,0.490374,0.490374,1.866317e+10
2431,2021-05-14,0.487070,0.589690,0.464622,0.559604,0.559604,2.046618e+10
2432,2021-05-15,0.559668,0.562676,0.491299,0.507972,0.507972,9.836893e+09
2433,2021-05-16,0.507910,0.548145,0.451023,0.514895,0.514895,9.541552e+09
2434,2021-05-17,0.514954,0.515221,0.463021,0.469993,0.469993,9.624701e+09